<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="pack4.CreateCustomerTC_01"/>
      <class name="pack4.CreateGroupTC_02"/>
      <class name="pack4.AssignUserToGroupTC_03"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
